* {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto";
}

/* GENERAL */
body {
  background-color: #1a1e1e;
}

a {
  color: #3fa9f5;
  text-decoration: none;
}

/* TYPOGRAPHY */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Robotothin";
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Robotobold";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
/* ARTICLE COMPONENTS */
.title {
  background-color: #111111;
  color: #ffffff;
  padding: 15px 0;
}
.title h3 {
  margin-left: 15px;
}

.entry {
  font-family: "Robotobold";
  font-size: 18px;
}
.entry__date p {
  font-family: "Robotothin";
  color: #c2c4c4;
  font-size: 17px;
  margin: 15px 15px 5px;
}
.entry__title h4 {
  color: #ffffff;
  margin: 5px 15px 5px;
}
.entry__text p {
  color: #048ba8;
  margin: -3px 15px 5px;
}
.entry__text #smaller-text {
  font-size: 16px;
}
.entry__description p {
  font-family: "Robotothin";
  color: #c2c4c4;
  font-size: 16px;
  margin: 15px;
  width: 95%;
}

/* BACK TO TOP */
#back-to-top {
  display: none;
}

/* GRID */
.container {
  background-color: #2b3030;
  width: 80%;
  margin: 70px auto;
  display: grid;
  grid-template: repeat(6, 0.1fr)/25px 0.3fr 0.7fr 0.5fr 25px;
  grid-auto-rows: 0.1fr;
  grid-gap: 15px;
  align-items: center;
}

/* HEADINGS */
.spacer {
  grid-column: 1/-1;
  background-color: #048ba8;
  color: #ffffff;
  padding: 15px 0;
  align-self: start;
}
.spacer i {
  font-size: 40px;
  margin: 0 20px 0 25px;
}
.spacer h2 {
  font-family: "Robotobold";
  font-size: 30px;
  display: inline;
  vertical-align: text-bottom;
}
.spacer--profile {
  grid-row: 1/2;
}
.spacer--resume {
  grid-row: 5/6;
}

/* PROFILE */
.profile-pic {
  grid-column: 2/3;
  text-align: center;
  margin-top: 25px;
}
.profile-pic img {
  width: 185px;
  height: 185px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  object-fit: cover;
  object-position: left;
}

.profile-name {
  grid-column: 3/4;
  margin: 25px 0 0 10px;
}
.profile-name h1 {
  font-family: "Robotobold";
  font-size: 35px;
  color: #ffffff;
}
.profile-name h3 {
  font-size: 20px;
  color: #c2c4c4;
  font-family: "Robotothin";
  margin-top: 5px;
}

.profile-info {
  grid-column: 4/5;
  color: #ffffff;
  margin-top: 25px;
  width: 100%;
}
.profile-info__item {
  padding-bottom: 15px;
  width: 255px;
}
.profile-info__item i {
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
}
.profile-info__item p {
  font-size: 16px;
  display: inline;
  color: #c2c4c4;
}
.profile-info__item a {
  font-size: 16px;
}
.profile-info__item .fa-map-marker-alt {
  margin-right: 14px !important;
}

.profile-pitch {
  grid-column: 2/5;
  color: #c2c4c4;
  font-family: "Robotothin";
  align-self: start;
  margin-top: 35px;
}
.profile-pitch p {
  font-size: 18px;
  line-height: 24px;
}

/* EDUCATION */
.education {
  grid-column: 2/4;
  background-color: #222626;
  color: #ffffff;
  margin-top: 20px;
}
.education .content {
  margin-bottom: 20px;
}
.education .content .entry {
  margin-bottom: 20px;
}

/* EXPERIENCE */
.experience {
  grid-column: 2/4;
  grid-row: 6/8;
  background-color: #222626;
  color: #ffffff;
  align-self: start;
  margin-bottom: 30px;
}
.experience .entry {
  padding: 5px 0;
}
.experience hr {
  border: 5px solid #2b3030;
}
.experience .last {
  margin-bottom: 4px;
}

/* PROGRAMMING SKILLS */
.programming-skills {
  grid-column: 4/5;
  grid-row: 5/6;
  align-self: start;
  color: #ffffff;
  background-color: #222626;
  margin-top: 20px;
}
.programming-skills .content {
  width: 70%;
  margin: 33px auto 45px auto;
}
.programming-skills .content .bar-graph {
  height: 30px;
  margin: 15px 0;
}
.programming-skills .content .bar-graph p {
  font-family: "Robotothin";
  font-size: 14px;
  color: #cccccc;
  margin-bottom: 5px;
}
.programming-skills .content .bar-graph__outline {
  background-color: #1a1e1e;
  width: 100%;
}
.programming-skills .content .bar-graph__outline p {
  font-family: "Roboto" !important;
  text-align: right;
  line-height: 30px;
  margin-left: -10px;
  color: #ffffff;
}
.programming-skills .content .bar-graph--html {
  background-color: #1b7f7c;
  width: 90%;
}
.programming-skills .content .bar-graph--css {
  background-color: #56af98;
  width: 80%;
}
.programming-skills .content .bar-graph--js {
  background-color: #22af4d;
  width: 50%;
}
.programming-skills .content .bar-graph--sql {
  background-color: #b29c30;
  width: 70%;
}
.programming-skills .content .bar-graph--php {
  background-color: #c14733;
  width: 40%;
}

/* GRAPHIC SKILLS */
.graphic-skills {
  grid-column: 4/5;
  grid-row: 6/7;
  background-color: #222626;
  color: #ffffff;
  align-self: start;
}
.graphic-skills .graphic-apps {
  width: 100%;
  margin: 20px auto;
}
.graphic-skills .graphic-apps__label {
  width: 140px;
  margin: 0 auto 5px auto;
}
.graphic-skills .graphic-apps__box {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.graphic-skills .graphic-apps__box--photoshop {
  background-color: #1b7f7c;
}
.graphic-skills .graphic-apps__box--illustrator {
  background-color: #56af98;
}
.graphic-skills .graphic-apps__box--xd {
  background-color: #22af4d;
}
.graphic-skills .graphic-apps__box--premiere {
  background-color: #b29c30;
}
.graphic-skills .graphic-apps__box--ae {
  background-color: #c14733;
}
.graphic-skills .graphic-apps__text {
  display: inline-block;
  width: 115px;
}
.graphic-skills .graphic-apps__text p {
  font-family: "Robotothin";
  font-size: 13px;
  color: #cccccc;
}
.graphic-skills .pie-chart {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  margin: 30px auto;
  background-image: conic-gradient(#b29c30 35%, #c14733 0 50%, #56afa8 0 75%, #1b7f7c 0 87.5%, #22af4d 0);
}
.graphic-skills .pie-chart__center {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #222626;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 5;
}

/* LANGUAGE SKILLS */
.languages {
  grid-column: 4/5;
  grid-row: 7/8;
  background-color: #222626;
  color: #ffffff;
  margin-bottom: 30px;
}
.languages .content {
  margin: 20px 0 24px 0;
}
.languages .content .lang {
  margin: 10px auto;
  width: 230px;
}
.languages .content .lang__code {
  width: 25px;
  display: inline-block;
  margin: 0 10px 0 0;
}
.languages .content .lang__code p {
  font-family: "Robotothin";
  font-size: 14px;
  color: #cccccc;
}
.languages .content .lang__evaluation {
  display: inline;
  vertical-align: middle;
}
.languages .content .lang__circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #1a1e1e;
  display: inline-block;
}
.languages .content .lang__circle--por {
  background-color: #1b7f7c;
}
.languages .content .lang__circle--eng {
  background-color: #56af98;
}
.languages .content .lang__circle--fra {
  background-color: #22af4d;
}
.languages .content .lang__circle--spa {
  background-color: #b29c30;
}

/* MENU */
menu {
  position: relative;
  width: 70px;
  left: 25px;
  top: -130px;
}
menu ul {
  list-style: none;
}
menu__item {
  width: 35px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow: hidden;
  cursor: pointer;
}
menu__item a {
  color: #ffffff;
  display: block;
}
menu__item i {
  font-size: 35px;
  color: #ffffff;
}
menu__item:nth-child(1) {
  background-color: #1b7f7c;
}
menu__item:nth-child(2) {
  background-color: #4875b4;
}
menu__item:nth-child(3) {
  background-color: #b29c30;
}
menu__item:nth-child(4) {
  background-color: #c14733;
}

/*# sourceMappingURL=css-sass.css.map */
