* {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Roboto';
}

a {
	color: #3fa9f5;
	text-decoration: none;
}

ul {
	list-style: none;
	width: 76%;
    margin: 10px auto;
}

.container {
	background-color: #2b3030;
	width: 80%;
	display: grid;
	grid-template: repeat(12, 0.1fr) 20px / 25px repeat(4, 1fr) 25px;
    grid-auto-rows: 0.1fr;
	align-items: start;
	grid-gap: 15px;
	margin: 70px auto;
}

.spacer {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	background-color: #048ba8;
	color: #ffffff;
	padding: 15px 0;
	align-self: start;

}	

.spacer i {
	font-size: 40px;
	margin: 0 20px 0 25px;
}

.spacer h2 {
	font-family: 'Robotobold';
	font-size: 30px;
	display: inline;
	vertical-align: text-bottom;
}


/* SIDE MENU */

nav {
	all: unset;
    width: 100%;
    display:inline-block;
    grid-column: 1 / -1;
	grid-row: 12 / 13;
	background: #111111;
}

.menu-item {
	width: 35px;
	padding: 10px;
	text-align: center;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	overflow: hidden;
	cursor: pointer;
	display: inline-block;
	border-radius: 50%;
	margin: 5px;
}

.menu-item:nth-child(1) {
	background-color: #1b7f7c;
}

.menu-item:nth-child(2) {
	background-color: #4875b4;
}

.menu-item:nth-child(3) {
	background-color: #b29c30;
}

.menu-item:nth-child(4) {
	background-color: #c14733;
}

.menu-item a {
	color: #ffffff;
	display: block;
}

.menu-item i {
	font-size: 35px;
}


/* PROFILE */

#profile-pic {
	grid-column: 1 / -1;
	grid-row: 2 / 3;
	text-align: center;
	margin: 0 auto;
}

#profile-pic img {
	width: 185px;
	height: 185px;
	border-radius: 50%;
	border: 4px solid #ffffff;
	object-fit: cover;
	object-position: left;
}

#profile-name {
	grid-column: 1 / -1;
	grid-row: 3 / 4;
	margin-top: 10px;
	text-align: center;
	width: 95%;
	margin: 0 auto;
}

#profile-name h1 {
	font-family: 'Robotobold';
	font-size: 33px;
	color: #ffffff;
}

#profile-name h3 {
	font-size: 18px;
	color: #c2c4c4;
	font-family: 'Robotothin';
	margin-top: 5px;
}

#profile-info {
	grid-column: 1 / -1;
	grid-row: 4 / 5;
	color: #ffffff;
	width: 90%;
	margin: 20px auto;
}

.info-item {
	padding-bottom: 15px;
	margin: 0 auto;
    width: 78%;
}

.info-item i {
	color: #ffffff;
	font-size: 20px;
	margin-right: 10px;
}

.fa-map-marker-alt {
	margin-right: 14px !important;
}

.info-item p {
	font-size: 16px;
	display: inline;
	color: #c2c4c4;
}

.info-item a {
	font-size: 16px;
}

#profile-pitch {
	grid-column: 1 / -1;
	grid-row: 5 / 6;
	color: #c2c4c4;
	font-family: 'Robotothin';
	align-self: start;
	margin: 0 auto 20px auto;
	width: 90%;
}

#profile-pitch p {
	font-size: 18px;
	line-height: 24px;
}


/* RESUME */

.resume {
	grid-column: 1 / -1;
	grid-row: 6 / 7;
	align-self: center;
}

.title {
	background-color: #111111;
	color: #ffffff;
	padding: 15px 0;
}

.title h3 {
	margin-left: 15px;
}

.entry-date p {
	font-family: 'Robotothin';
	color: #c2c4c4;
	font-size: 17px;
	margin: 15px 15px 5px;
}

.entry-title h4 {
	font-size: 18px;
	font-family: 'Robotobold';
	color: #ffffff;
	margin: 5px 15px 5px;
	width: 95%;
}

.entry-text p {
	font-family: 'Robotobold';
	font-size: 18px;
	color: #048ba8;
	margin: -3px 15px 5px;
	width: 95%;
}

#smaller-text {
	font-size: 16px;
}

/* EDUCATION */

.education {
	grid-column: 2 / 4;
    grid-row: 7 / 8;
	background-color: #222626;
	color: #ffffff;
	width: 100%;
	margin: 0 auto;
}

.education .content {
	margin-bottom: 20px;
}

.education .content .entry {
	margin-bottom: 20px;
}


/* EXPERIENCE */

.experience {
	grid-column: 2 / 6;
	grid-row: 9 / 10;
	background-color: #222626;
	color: #ffffff;
	align-self: start;
	width: 100%;
	margin: 0 auto;
}

.entry-description p {
	font-family: 'Robotothin';
	color: #c2c4c4;
	font-size: 16px;
	margin: 15px;
    width: 90%;
}

.experience .entry {
	padding: 5px 0;
}

.last {
	margin-bottom: 4px;
}

hr {
	border: 4px solid #2b3030;
}


/* PROGRAMMING SKILLS */

.programming-skills {
	grid-column: 4 / 6;
    grid-row: 7 / 8;
	align-self: start;
	color: #ffffff;
	background-color: #222626;
	width: 100%;
	margin: 0 auto;
}

.programming-skills .content {
	width: 90%;
    margin: 33px auto 45px auto;
}

.percentage-bar {
	margin: 15px auto;
	width: 79%;
}

.percentage-bar p {
	font-family: 'Robotothin';
	font-size: 14px;
	color: #cccccc;
	margin-bottom: 5px;
}

.percentage {
	font-family: 'Roboto' !important;
	text-align: right;
    line-height: 30px;
    margin-left: -10px;
    color: #ffffff;
}

.bar {
	background-color: #1a1e1e;
	width: 230px;
	height: 30px;
}

#html {
	background-color: #1b7f7c;
	width: 90%;
	height: 30px;
}

#css {
	background-color: #56afa8;
	height: 30px;
	width: 80%;
}

#js {
	background-color: #22af4d;
	height: 30px;
	width: 50%;
}

#sql {
	background-color: #b29c30;
	height: 30px;
	width: 70%;
}

#php {
	background-color: #c14733;
	height: 30px;
	width: 40%;
}


/* GRAPHIC SKILLS */

.graphic-skills {
	grid-column: 2 / 4;
    grid-row: 8 / 9;
	background-color: #222626;
	color: #ffffff;
	align-self: start;
	width: 100%;
	margin: 0 auto;
}

.graphic-apps {
	width: 90%;
    margin: 20px auto;
}

.app-label {
	margin: 5px auto;
    width: 51%;
}

.app-label div {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
}

.app-label p {
	font-family: 'Robotothin';
	font-size: 13px;
	color: #cccccc;
	margin: 0 10px 10px;
	display: inline;
}

#photoshop {
	background-color: #1b7f7c;
}

#illustrator {
	background-color: #56afa8;
}

#xd {
	background-color: #22af4d;
}

#premiere {
	background-color: #b29c30;
}

#ae{
	background-color: #c14733;
}

.pie-center {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #222626;
	position: absolute;
	top: 30px;
    left: 30px;
	z-index: 5;
}

.pie-chart {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	position: relative;
	margin: 30px auto;
	background-image: conic-gradient(#b29c30 35%, #c14733 0 50%, #56afa8 0 75%, #1b7f7c 0 87.5%, #22af4d 0);
}


/* LANGUAGE SKILLS */

.languages {
	grid-column: 4 / 6;
    grid-row: 8 / 9;
	background-color: #222626;
	color: #ffffff;
	width: 100%;
	margin: 0 auto;
}

.languages .content {
	margin: 20px auto 24px auto;
	width: 100%;
}

.lang {
    margin: 10px auto;
    width: 78%;
}

.lang-code {
    width: 10%;
    display: inline-block;
    margin: 0 10px;
}

.lang p {
	font-family: 'Robotothin';
	font-size: 14px;
	color: #cccccc;
}

.evaluation {
	display: inline;
	vertical-align: middle;
}

.circle {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #1a1e1e;
	display: inline-block;
}

.por {
	background-color: #1b7f7c;
}

.eng {
	background-color: #56afa8;
}

.fra {
	background-color: #22af4d;
}

.spa{
	background-color: #b29c30;
}


/* BACK TO TOP */

#back-to-top {
	background: #1b7f7c;
	grid-column: 1 / -1;
	grid-row: 13 / 14;
	display: block;
	cursor: pointer;
	width: 100%;
	position: relative;
    top: -28px;
}

.arrow-container {
	width: 9%;
	margin: 10px auto;
}

.fa-arrow-up {
	color: #ffffff;
	font-size: 30px;
}

@media only screen and (max-width: 320px) and (orientation: portrait) {

	ul {
		width: 85%;
	}
	
	#profile-name h1 {
		font-size: 30px;
	}

	#profile-name h3 {
		font-size: 17px;
	}

	#profile-info {
		margin: 10px auto;
		position: relative;
    	top: -10px;
	}

	.info-item i {
		font-size: 16px;
	}

	.info-item p {
		font-size: 14px;
	}

	.info-item a {
		font-size: 14px;
	}

	.entry-title h4 {
		width: 93%;
	}

	.entry-text p {
		width: 93%;
	}

	.programming-skills .content {
    	width: 100%;
    }

    .graphic-apps {
    	width: 100%;
    }

    .lang {
    	width: 88%;
    }

    #back-to-top {
    	top: -34px;
    	height: 55px;
    }
}

@media only screen and (min-width: 375px) and (orientation: portrait) {
	
		ul {
			width: 73%;
		}

		#profile-info {
			width: 86%;
		}

		.programming-skills .content {
			width: 77%;
		}

		.percentage-bar {
			width: 88%;
		}

		.graphic-apps {
			width: 86%;
		}

		.lang {
			width: 80%;
		}

}

@media only screen and (min-width: 411px) and (orientation: portrait) {
	
		ul {
			width: 69%;
		}

		#profile-info {
			width: 80%;
		}

		.programming-skills .content {
			width: 75%;
		}

		.percentage-bar {
			width: 80%;
		}

		.graphic-apps {
			width: 80%;
		}

		.languages .content {
			width: 90%;
		}

