//MAPS

$colors: (
	primary: #c2c4c4,
	secondary: #ffffff,
	highlight: #048ba8,
	label: #cccccc,
	link: #3fa9f5,
	link-hover: #66ccff,
	glow: #00fff2
);

$background-colors: (
	body: #1a1e1e,
	container: #2b3030,
	header: #048ba8,
	article: #222626,
	article-header: #111111,
	graph1: #1b7f7c,
	graph2: #56af98,
	graph3: #22af4d,
	graph4: #b29c30,
	graph5: #c14733,
	linkedin: #4875b4
);

$font-family: (
	regular: 'Roboto',
	thin: 'Robotothin',
	bold: 'Robotobold'
);

$breakpoints: (
	mobile: 320px,
	tablet: 768px,
	desktop: 1200px
);

$programming-skills: (
	html: 90%,
	css: 80%,
	js: 50%,
	sql: 70%,
	php: 40%
);


//MIXINS

@mixin mobile {
	@media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablet) - 1) {

		@content;

	}
}

@mixin tablet {
	@media screen and (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, desktop) - 1) {

		@content;

	}
}

@mixin desktop {
	@media screen and (min-width: map-get($breakpoints, desktop)) {

		@content;

	}
}

@mixin glow {
	color: map-get($colors, secondary);
    text-shadow: 0 0 0 map-get($colors, glow), 
		 		 0 0 10px map-get($colors, glow), 
		 		 0 0 20px map-get($colors, glow), 
		 		 0 0 30px map-get($colors, glow), 
				 0 0 40px map-get($colors, glow), 
				 0 0 50px map-get($colors, glow), 
				 0 0 60px map-get($colors, glow), 
				 0 0 70px map-get($colors, glow);
}

@mixin percentage-bars($skill) {
	animation: bars 2s forwards;

	@keyframes bars {
		0% {width: 0};
		100% {width: map-get($programming-skills, #{$skill})};
	}
}

@mixin fade-in-percentage {
	animation: percentage 2s ease forwards;

	@keyframes percentage {
		0% {opacity: 0};
		100% {opacity: 1};
	}
}



