.portfolio-container {
	width: 80%; 
	margin: 70px auto;
	display: grid;
	grid-template: 0.1fr / 25px repeat(3, 1fr) 25px;
	grid-gap: 25px;
	grid-auto-rows: 0.1fr;
	background-color: map-get($background-colors, container);

		@include mobile {
			width: 100%;
			margin: 0 auto;
			grid-template: 0.1fr / 25px 1fr 25px;
		}

		@include tablet {
			width: 100%;
			margin: 0 auto;
			grid-template: 0.1fr / 25px 1fr 1fr 25px;
		}

	.spacer {
		h1 {
			font-size: 30px;
			color: map-get($colors, secondary);
			font-family: map-get($font-family, thin);
			font-style: italic;
			grid-column: 5 / 6;
		}

		.fa-angle-left {
			color: map-get($colors, secondary);
		}
	}

	

	.work {
		width: 1fr;
		margin: 20px 0 50px 0;
		transition: all 0.5s ease;
		cursor: pointer;
		box-shadow: 5px 5px 25px map-get($background-colors, article-header);

		&:hover {
			transform: scale(1.02);
		}

		&--1 {
			grid-column: 2 / 3;
		}

		&--2 {
			grid-column: 3 / 4;

			@include mobile {
				grid-column: 2 / 3;
				grid-row: 3 / 4;
			}
		}

		&--3 {
			grid-column: 4 / 5;

			@include mobile {
				grid-column: 2 / 3;
				grid-row: 4 / 5;
			}

			@include tablet {
				grid-column: 2 / 3;
				grid-row: 3 / 4;
			}
		}

		&__title {
			background-color: map-get($background-colors, article-header);
			color: map-get($colors, secondary);
			height: 50px;
			
			h2 {
				font-size: 22px;
    			padding: 10px 0;
    			font-family: map-get($font-family, regular);
    			margin-left: 15px;
			}
		}

		&__img {
			width: 100%;
			height: 250px;
			object-fit: cover;
			transition: all 0.5s ease;

			&:hover {
				opacity: 0.5;
			}
		}

		&__description {
			display: none; 
			line-height: 20px;
			font-family: map-get($font-family, thin);
			color: map-get($colors, primary);
			font-size: 14px;
			margin: 10px auto;
    		width: 90%;
		}
	}
}