/* HEADINGS */

.spacer {
	grid-column: 1 / -1;
	background-color: map-get($background-colors, header);
	color: map-get($colors, secondary);
	padding: 15px 0;
	align-self: start;
	display: grid; 
	grid-template: 0.1fr/25px 55px 150px 1fr 165px 25px;

		i {
			font-size: 40px;
			margin: 0 20px 0 25px;
		}

		h2 {
			font-family: "Robotobold";
		    font-size: 30px;
		    align-self: self-end;
		    grid-column: 3 / 4;

		}

		h3 {
		    font-family: "Robotothin";
		    font-size: 30px;
		    align-self: self-end;
		    font-style: italic;
		    grid-column: 5 / 6;
		    cursor: pointer;
		    transition: all 1s ease-in-out;

		    &:hover {
		    	@include glow;
		    }
		}

		&--profile {
			grid-row: 1 / 2;
		}

		&--resume {
			grid-row: 4 / 5;
			
			@include mobile {
				grid-row: 6 / 7;
				align-self: center;
			}

			@include tablet {
				grid-row: 5 / 6;
				align-self: center;
			}
		}

}	

