/* GRID */

.container {
	background-color: map-get($background-colors, container);
	width: 80%;
	margin: 70px auto;
	display: grid;
	grid-template: repeat(6, 0.1fr) / 25px 0.3fr 0.7fr 0.5fr 25px;
    grid-auto-rows: 0.1fr;
	grid-gap: 15px;
	align-items: center;
}