/* MENU */

.menu {
	position: relative;
    width: 70px;
    left: 25px;
    top: -130px;

    @include mobile {
    	all: unset;
	    width: 100%;
	    display:inline-block;
	    grid-column: 1 / -1;
		grid-row: 12 / 13;
		background: map-get($background-colors, article-header);
    }

    @include tablet {
    	all: unset;
	    width: 100%;
	    display:inline-block;
	    grid-column: 1 / -1;
		grid-row: 9 / 10;
		background: map-get($background-colors, article-header);
    }

    	ul {
			list-style: none;

			@include mobile {
				width: 272px;
				margin: 10px auto;
			}

			@media only screen and (min-width: 568px) {
				width: 344px;
			}

			@include tablet {
				width: 275px;
    			margin: 10px 40px 10px;
			}

		}

		&__item {
				width: 35px;
				margin-bottom: 10px;
				padding: 10px;
				text-align: center;
				-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
				overflow: hidden;
				cursor: pointer;

				@include mobile {
					display: inline-block;
					border-radius: 50%;
					margin: 5px;
				}

				@media only screen and (min-width: 568px) and (max-width: map-get($breakpoints, tablet) - 1) {
					width: 45px;
	   				height: 45px;
	   				padding: 12px;
	   				margin: 7px;
				}

				@include tablet {
					display: inline-block;
					border-radius: 50%;
					margin: 5px;
				};

					a {
						color: map-get($colors, secondary);
						display: block;
					}

					i {
						font-size: 35px;
						color: map-get($colors, secondary);

						@media only screen and (min-width: 568px) and (max-width: map-get($breakpoints, tablet) - 1) {
							font-size: 40px;
    						line-height: 45px;
						}
					}

					&:nth-child(1) {
						background-color: map-get($background-colors, graph1);
					}

					&:nth-child(2) {
						background-color: map-get($background-colors, linkedin);
					}

					&:nth-child(3) {
						background-color: map-get($background-colors, graph4);
					}

					&:nth-child(4) {
						background-color: map-get($background-colors, graph5);
					}

					&:hover {
						@include desktop {
							filter: brightness(110%);
							width: 40px;
						}
					}
			}

}

