/* MENU */

menu {
	position: relative;
    width: 70px;
    left: 25px;
    top: -130px;

    	ul {
			list-style: none;
		}

		&__item {
				width: 35px;
				margin-bottom: 10px;
				padding: 10px;
				text-align: center;
				-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
				overflow: hidden;
				cursor: pointer;

					a {
						color: map-get($colors, secondary);
						display: block;
					}

					i {
						font-size: 35px;
						color: map-get($colors, secondary);
					}

					&:nth-child(1) {
						background-color: map-get($background-colors, graph1);
					}

					&:nth-child(2) {
						background-color: map-get($background-colors, linkedin);
					}

					&:nth-child(3) {
						background-color: map-get($background-colors, graph4);
					}

					&:nth-child(4) {
						background-color: map-get($background-colors, graph5);
					}
			}

			@include mobile {

				menu {
					all: unset;
				    width: 100%;
				    display:inline-block;
				    grid-column: 1 / -1;
					grid-row: 12 / 13;
					background: map-get($background-colors, article-header);

						ul {
							width: 272px;
					    	margin: 10px auto;
						}

						&__item {
						
							display: inline-block;
							border-radius: 50%;
							margin: 5px;
						}
					}

			}

			@include tablet {

				menu {
					all: unset;
				    width: 100%;
				    display:inline-block;
				    grid-column: 1 / -1;
					grid-row: 9 / 10;
					background: map-get($background-colors, article-header);

						ul {
					    	width: 275px;
    						margin: 10px 40px 10px;
						}

						&__item {
						
							display: inline-block;
							border-radius: 50%;
							margin: 5px;
						}
					}

			}
}



	

