.mobile-menu {
	display: none;
	background-color: map-get($background-colors, body);
	color: map-get($colors, secondary);
	padding: 15px 0;
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    position: absolute;
    top: 70px; 

    li {
    	font-family: map-get($font-family, thin);
    	font-style: italic;
        color: map-get($colors, secondary);
        font-size: 30px;
    }
}