/* PROGRAMMING SKILLS COMPONENTS */

.bar-graph {
	margin: 15px auto;
	width: 100%;
	transition: all 1s ease;

	@media only screen and (min-width: map-get($breakpoints, tablet)) and (max-width: 899px) {
		margin: 25px auto;		
		width: 90%;
	}

	@media only screen and (min-width: 900px) and (max-width: map-get($breakpoints, desktop) - 1) {
		margin: 15px auto;		
		width: 90%;
	}

		p {
			font-family: map-get($font-family, thin);
			font-size: 14px;
			color: map-get($colors, label);
			margin-bottom: 5px;

			@include fade-in-percentage;
		}

	&__outline {
		background-color: map-get($background-colors, body);
		width: 100%;

			p {
				font-family: map-get($font-family, regular) !important;
				text-align: right;
				line-height: 30px;
				margin-left: -10px;
				color: map-get($colors, label);

				@media only screen and (min-width: 568px) and (max-width: map-get($breakpoints, tablet) - 1) {
					line-height: 35px;
				}
		}
	}

	&--html {
		background-color: map-get($background-colors, graph1);
		width: map-get($programming-skills, html);

		@include percentage-bars;
	}

	&--css {
		background-color: map-get($background-colors, graph2);
		width: map-get($programming-skills, css);

		@include percentage-bars;
	}

	&--js {
		background-color: map-get($background-colors, graph3);
		width: map-get($programming-skills, js);

		@include percentage-bars;
	}

	&--sql {
		background-color: map-get($background-colors, graph4);
		width: map-get($programming-skills, sql);

		@include percentage-bars;
	}

	&--php {
		background-color: map-get($background-colors, graph5);
		width: map-get($programming-skills, php);

		@include percentage-bars;
	}

}